name: unified_popups
description: A unified popups SDK for Flutter, providing a flexible way to show toasts, dialogs, and other custom popups.
version: 1.2.1
homepage: https://github.com/xinqingaa/unified_popups
repository: https://github.com/xinqingaa/unified_popups

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0


# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - assets/images/